body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
.game {
  overflow: hidden;
}
canvas {
  display: block;
}


.map-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0
}

.map-options__option {
  margin: 1rem;
  min-width: 200px;
  width: 15%;
}


.fit-image {
  width: 100%;
  height: auto;
}
